body {
    background-color: darkgrey;
}

h1 {
    text-align: center;
}

.container {
    margin-left: 100px;
    margin-right: 100px;
    margin: 1em;
    background-color: chocolate;
    height: auto;
    width: auto;
}

/*#AjoutRow {
    text-align: left;
}*/

#remove {
    text-align: right;
}

/*.placeholder {
    border: 1px solid green;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
}*/

#modultext {
    background-color: white;
      height: auto;
      width: auto;
    margin: 1em;
}

.btn-success{
    margin: 3em;
}

#usr{
    
    width: 500px;
    max-height: inherit;
}